<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="text-align: center;">

        {% if artista %}


        <h2>Formulario CRUD para actualizar datos</h2> <br>
        <form action="{% url 'artistasUpdate' %}" method="POST">
            {% csrf_token %}

            <pre>Id:                <input type="text" name="id" value="{{artista.id}}"></pre>
            <pre>Nombre:             <input type="text" name="nombre" value="{{artista.nombre}}"></pre>
            <pre>Apellido P.:        <input type="text" name="paterno"value="{{artista.apellido_paterno}}" ></pre>
            <pre>Apellido M.:        <input type="text" name="materno" value="{{artista.apellido_materno}}"></pre>
            <pre>Fecha Nac.:         <input type="date" name="fechaNac" value="{{artista.fecha_nacimiento|date:'Y-m-d'}}"></pre>
            <pre>Genero:              <select name="genero">
                {% for genero in generos %}

                {% if genero.genero == artista.id_genero.genero %}
                    <option value="{{genero.id_genero}}"selected >{{genero.genero}}</option>
                {% else %}
                    <option value="{{genero.id_genero}}">{{genero.genero}}</option>
                    {% endif %}
                    {% endfor %}
                </select> </pre>

                
                <pre>Email:             <input type="mail" name="email" value="{{artista.email}}" ></pre>
                

                <input type="submit" name="opcion" value="Actualizar">


                </form> <br><br>
                {% endif %}
                <div id="idMensajes">
                    {% if mensaje %}
                    {{mensaje}}
                    {% endif %}
                </div>

                <a href="{% url 'crud' %}"> Volver</a>
                <br>

                
    </div>   
</body>
</html>